body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  color: #342375;
  text-align: center;
  font-weight: bolder;
}

h2 {
  font-style: italic;
  text-align: center;
  color: grey; 
}

h3 {
  color: #342375;
}

p {
  font-size: 20px;
  color: #ed4d21
}

ul {
  font-size: 20px;
  line-height: 30px;
}

ol {
  font-size: 20px;
  line-height: 30px;
}